output#result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 12em;
}

output#result > div {
  display: flex;
  gap: 0.5em;
  text-align: start;
}

output#result div > p.key {
  font-weight: bold;
  font-size: 1.125em;
}

