output#result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em 1em; 
}

#response {
  --graph-height: 80px;
  --padding-bottom: 3em;
  min-height: calc((var(--graph-height) * 2) + var(--padding-bottom));
  flex-grow: 1;
  padding-bottom: var(--padding-bottom);
}

output#result > div:not(:last-child) {
  display: flex;
  gap: 0.5em;
  text-align: start;
  align-items: center;
}

output#result div > p.key {
  font-weight: bold;
  font-size: 1.125em;
}

output#result > div:last-child {
  grid-column: 1/-1;
}

output#result > div:last-child > div {
  --background-color: #020;
  --foreground-color: #04dd04;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  place-items: end;
  gap: 1em;
  height: var(--graph-height);
  border: var(--border-width) inset white;
  background-color: var(--background-color);
  background-image: url("/static/images/grid-pattern.svg");
  background-size: calc(5em / 5);
  padding-inline: 0.5em;
}

/* the value bar */
output#result .probability-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}

output#result .probability-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2em 0em;
}

/* the singular bar pieces */
output#result .probability-bar > div {
  background-color: var(--foreground-color);
  width: 100%;
  flex-grow: 1;
}

output#result .probability-bar > div:not(:first-child) {
  height: 100%;
}

output#result .probability-bar > div:first-child {
  flex-shrink: 1;
}

output#result > div:last-child > ul {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  text-align: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  padding-inline: 0.5em;
}

output#result > div:last-child > ul > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* errors */

#error {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#error h3 {
  margin: 0;
}
