output#result {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#response {
  min-height: 8em;
  flex-grow: 1;
}

output#result > div {
  display: flex;
  gap: 0.5em;
  text-align: start;
}

output#result div > p.key {
  font-weight: bold;
  font-size: 1.125em;
}

/* errors */

#error {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#error h3 {
  margin: 0;
}
