:root {
  --color-primary: #181115;
  --color-secondary: #dedede;
  --border-width: 5px;
}

html {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 400;
}

/* background patterns */
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("/static/images/background_pattern.webp");
  background-size: 512px;
  mix-blend-mode: multiply;
}

body {
  display: grid;
  place-items: center;
  height: 100svh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  /*gap: 1.25em;*/
  border: var(--border-width) solid var(--color-secondary);
  width: clamp(356px, 90%, 100%);
  margin-inline: auto;
  overflow: auto;
  resize: both;
  @media (min-width: 576px) {
    width: clamp(356px, 80%, 1080px);
  }
}

main > *:first-child {
  flex-grow: 1;
}

main > section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  height: 100%;
}

header {
  --background: color-mix(in srgb, var(--color-primary) 40%, var(--color-secondary));
  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  color: var(--color-primary);
  grid-column: 1 / -1;
  margin: 0;
  padding: 0.1em 0.5em;
}

header > div {
  display: flex;
  gap: 0.2em;
  align-items: center;
  height: 100%;
}

header > div > h1 {
  font-size: 1.25em;
  margin: 0;
  color: var(--color-secondary);
  opacity: 75%;
}

header > div:last-child > button {
  background-color: var(--color-secondary);
  margin: 0;
  font-weight: bold;
  aspect-ratio: 1/1;
  width: 2em;
  user-select: none;
}

img {
  image-rendering: pixelated;
}

hr {
  border-style: inset;
  border-width: calc(var(--border-width) / 4);
  border-color: var(--color-secondary);
  margin-block: 1.5em;
  width: 100%;
}

#credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#credits p {
  opacity: 75%;
}

#credits a {
  --tooltip-scale: 0;
  position: relative;
}

#credits a::before {
  --image-width: 32px;
  content: attr(aria-label);
  position: absolute;
  top: -50%;
  left: calc(var(--image-width) * -3.2);
  transform: scale(var(--tooltip-scale)) translateY(50%);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: calc(var(--border-width) / 2);
  border-style: outset;
  border-color: white;
  padding: 0.5em 0.75em;
  opacity: 100%;
}

#credits a:hover {
  --tooltip-scale: 1;
}
