html {
  color: black;
  background-color: #F5F7F5;
  font-family: sans-serif;
  }
#elementti{
  padding: 2em 5em 4em 5em;
  background: rgb(34,195,153);
  background: linear-gradient(120deg, rgba(34,195,153,1) 0%, rgba(253,244,45,0.6783963585434174) 46%);
}
h1{
	text-align: center;
	background-color: white;
	color: gray;
	padding: 2px;
	border: 2px red;
	border-style: outset;
	font-family: arial;
}
h2{
	text-align: center;
	font-family: arial;
}
main{
	/* min-width, goal-width, max-width*/
  width: clamp(256px, 80%, 100%);
  margin-inline: auto;
  }
button{
	padding: 1em;
	font-family: arial;
	font-size: 1.5em;
	
}
form {
	padding: 0em 1em 0em 1em;
	border: 1em;
	background: rgb(55,246,224);
	background: linear-gradient(90deg, rgba(55,246,224,1) 0%, rgba(55,246,208,0.364670868347339) 35%, rgba(0,212,255,1) 100%);
	border-style: outset;
}


#bu{
	border: 0.5em;
	border-color: gray;
	border-style: outset;
	width: 50%;
	background-color:white;
	margin-left: auto; 
	margin-right: auto;
}
#bu2{
	margin-left: auto; 
	margin-right: auto;
	margin-top: 25%;

	border: 0.5em;
	border-color: gray;
	border-style: outset;
	width: 30%;
	
}
#cent{
	border: 1em;
	border-color: gray;
	border-style: outset;
}
	
#image-upload {
  display: grid;
  
  /* two equal sized columns*/
  grid-template-columns: 1fr 1fr;
  padding: 0em 1em 0em 1em;
}


#image-preview {
  position: relative;
  overflow: clip;
  display: grid;
  place-items: center;
  background-color: #222;
  aspect-ratio: 1/1;
  
  
}

#image-preview > svg.placeholder {
	
  fill: #dedede;
  opacity: 50%;
  width: clamp(2em, 100%, 10em);
  padding: 4em;
}

#image-preview > img {
  width: 10%;
  height: 10%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#result {
  text-align: center;
  grid-column: 1 / -1;
}

#result > div > p:first-child {
  font-size: 1.5em;
  font-weight: 700;
}

	
