form {
  border-width: var(--border-width);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  padding: 1em;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

form h2, form p {
  margin: 0
}

#image-preview {
  --foreground: #50668f;
  position: relative;
  overflow: clip;
  display: grid;
  place-items: center;
  background-color: var(--foreground);
  /*aspect-ratio: 1/1;*/
  /*width: 100%;*/
  /*height: 100%;*/
  border-style: inset;
  border-width: var(--border-width);
  min-height: 20em;
}

#image-preview > .placeholder {
  padding: 4em;
}

#image-preview > img:first-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form label, form button {
  background-color: var(--color-secondary);
  border-width: calc(var(--border-width) / 1.5);
  border-style: outset;
  border-color: white;
  padding: 0.5em 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

form label > div {
  display: flex;
  gap: 1em;
  line-height: 1;
}

form .buttons {
  display: flex;
  flex-wrap: wrap;
}

form .buttons button:first-of-type {
  flex-grow: 1;
}

form label:hover, form button:hover {
  filter: brightness(0.95);
}

form label:active, form button:active {
  border-style: inset;
}

form label > div > div > p:first-child {
  font-weight: bold;
  font-size: 1.125em;
}

form button > p {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* loading animation */

#loader {
  display: none;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  font-size: 1.125em;
}

#loader p {
  display: flex;
  gap: 0.25em;
}

#loader p::after {
  content: "...";
  display: block;
  top: 0;
  right: -70%;
  width: 3em;
  text-align: start;
  animation: loading 1s forwards infinite;
}

#loader.htmx-request {
  display: flex;
}

@keyframes loading {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

#credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#credits p {
  opacity: 75%;
}

#credits a {
  --tooltip-scale: 0;
  position: relative;
  display: flex;
  align-items: center;
}

#credits a::before {
  --image-width: 32px;
  content: attr(aria-label);
  position: absolute;
  top: 50%;
  left: calc(var(--image-width) * -3.5);
  transform: scale(var(--tooltip-scale)) translateY(-50%);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: calc(var(--border-width) / 2);
  border-style: outset;
  border-color: white;
  padding: 0.5em 0.75em;
  opacity: 100%;
}

#credits a:hover {
  --tooltip-scale: 1;
}
