<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testing</title>
  </head>
  <body>
    <h1>Tree evaluationg</h1>
    <p>Here you load the images and test them</p>
    <h2>
    <button>
      <?PHP
      echo shell_exec("python Main.py path, whichTree");
      ?>
    </button></h2>
    <p>
      <textarea id="path" name="path" rows="1" cols="50"></textarea>
    </p>
    <p>
      <textarea id="whichTree" name="whichTree" rows="1" cols="50"></textarea>
    </p>
    <p>I believe in you</p>
  </body>
</html>
