<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tree Recognition - Team Insiköörit</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link href="/static/style.css" rel="stylesheet">
  <link href="/static/uploadform.css" rel="stylesheet">
  <link href="/static/result.css" rel="stylesheet">
  <script src="/static/previewimage.js" defer></script>
  <script src="/static/extras.js" defer></script>
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
</head>

<body>

  <main>
    <header>
      <div>
        <img src="/static/images/app-icon.png" alt="icon of a tree" width="32" height="32">
        <h1>Tree Recognition</h1>
      </div>
      <div>
        <button>_</button>
        <button>&#9723;</button>
        <button>&times;</button>
      </div>
    </header>

    <section>

      <div id="image-preview">
        <img src="" alt="" class="user-image">
        <img src="/static/images/tree-icon.png" alt="placeholder icon for a tree" width="48" height="48"
          class="placeholder">
      </div>

      <form hx-post="/evaluate" enctype="multipart/form-data" hx-target="#result" hx-swap="innerHTML"
        hx-indicator="#loader">
        <div class="description">
          <div>
            <h2>Upload a tree</h2>
            <p>
              Upload a picture of a tree. Any tree!
            </p>
          </div>
          <p>
            The cutting edge Tree Recognition&trade; technology, powered by the immense processing power
            of the 75 MHz processor and a whopping 4MB of RAM memory, will take any picture of your choosing
            and recognize the tree type within!
          </p>
          <p>
              <a href="https://github.com/sakuexe/insikoorit/tree/main/tree_recognition" target="_blank">The finnish translations can be found here</a>
          </p>
        </div>

        <hr>

        <label>
          <div>
            <img src="/static/images/file-icon.png" alt="" width="32" height="32">
            <div>
              <p>Choose a Tree</p>
              <p>Choose a picture of a tree to evaluate</p>
            </div>
          </div>
          +
          <input id="file-input" type="file" name="file" accept="image/*" hidden required>
        </label>

        <div class="buttons">
          <button type="submit"
            hx-on:click='document.querySelectorAll("#result > *")?.forEach((elem) => {elem.remove()});'>
            <p>
              <img src="/static/images/eval-icon.png" alt="evaluate icon" width="32" height="32">
              Upload & Evaluate
            </p>
            <span>&gt;</span>
          </button>

          <button type="reset">
            <img src="/static/images/trash-icon.png" alt="evaluate icon" width="28" height="28">
            Clear
          </button>
        </div>

        <hr>

        <div id="response">
          <div id="loader">
            <img src="/static/images/loading-disc.gif" alt="" width="32" height="32">
            <p>Computing</p>
          </div>
          <output id="result"></output>
        </div>

        <div id="credits">
          <p>&copy; Team Insiköörit - 1995</p>
          <a href="https://github.com/sakuexe/insikoorit" target="_blank" aria-label="Github page">
            <img src="/static/images/info.ico" alt="link to github" width="32" height="32">
          </a>
        </div>

      </form>
    </section>

  </main>
</body>

</html>
