<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tree Recognition - Team Insiköörit</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="/static/uploadform.css" rel="stylesheet">
  <link href="/static/result.css" rel="stylesheet">
  <script src="/static/previewimage.js" defer></script>
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
</head>

<body>

  <main>
    <header>
      <div>
        <img src="/static/images/app-icon.png" alt="icon of a tree" width="32" height="32">
        <h1>Tree Recognition</h1>
      </div>
      <div>
        <button>_</button>
        <button>&#9633;</button>
        <button>&times;</button>
      </div>
    </header>

    <section>

      <div id="image-preview">
        <img src="" alt="">
        <img src="/static/images/tree-icon.png" alt="placeholder icon for a tree" width="48" height="48"
          class="placeholder">
      </div>

      <form hx-post="/evaluate" enctype="multipart/form-data" hx-target="#result" hx-swap="innerHTML">
        <div>
          <h2>Upload a tree</h2>
          <p>
            Upload a picture of a tree. Any tree!
          </p>
        </div>

        <hr>

        <label>
          <div>
            <img src="/static/images/file-icon.png" alt="" width="32" height="32">
            <div>
              <p>Choose a Tree</p>
              <p>Choose a picture of a tree to evaluate</p>
            </div>
          </div>
          +
          <input id="file-input" type="file" name="file" accept="image/*" hidden required>
        </label>

        <div class="buttons">
          <button type="submit">
            <p>
              <img src="/static/images/eval-icon.png" alt="evaluate icon" width="32" height="32">
              Upload & Evaluate
            </p>
            <span>&gt;</span>
          </button>

          <button type="reset">
            <img src="/static/images/trash-icon.png" alt="evaluate icon" width="28" height="28">
            Clear
          </button>
        </div>

        <hr>

        <output id="result"></output>

        <div id="credits">
          <p>&copy; Team Insiköörit - 1995</p>
          <a href="https://github.com/sakuexe/insikoorit" target="_blank" aria-label="Github page">
            <img src="/static/images/info.ico" alt="link to github" width="32" height="32">
          </a>
        </div>

      </form>
    </section>

  </main>
</body>

</html>
